:root {
  /* fonts */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* txt colors */
  --main-txt-cl: #212121;
  --main-txt-item: #757575;
  --main-link-cl: #2196f3;
  --btn-txt-cl: #ffffff;
  --second-header-logo-cl: #000000;
  /* bg colors */
  --dark-bg-cl: #2f303a;
  --team-bg-cl: #f5f4fa;
  --main-bt-bg-cl: #188ce8;
  --white-bg-cl: #ffffff;
  /* others */
  --border-cl: #eeeeee;
  --main-icon-cl: #afb1b8;
  --transition-time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --indent: 30px;
  --items: 3;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
  background-color: var(--white-bg-cl);
  letter-spacing: 0.03em;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.btn {
  font-family: inherit;
  cursor: pointer;
  border: none;
  color: var(--btn-txt-cl);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  background-color: var(--main-link-cl);
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.1785714286;
}
@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}
.logo--accent-color {
  color: var(--main-link-cl);
}
.logo--black-color {
  color: var(--second-header-logo-cl);
}
.logo--white-color {
  color: var(--btn-txt-cl);
}
@media screen and (min-width: 768px) {
  .logo--margin-right {
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .logo--margin-right {
    margin-right: 93px;
  }
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--main-icon-cl);
  -webkit-transition: background-color var(--transition-time), color var(--transition-time);
  transition: background-color var(--transition-time), color var(--transition-time);
}
.socials__icon {
  fill: currentColor;
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--main-link-cl);
  color: var(--btn-txt-cl);
}
.socials__link:hover .socials__icon, .socials__link:focus .socials__icon {
  fill: var(--white-bg-cl);
}
.socials__link--white-color {
  color: var(--btn-txt-cl);
}
.socials__link--bg-color {
  background-color: #44454e;
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: auto;
  }
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .subscribe__form {
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
        -ms-flex-direction: inherit;
            flex-direction: inherit;
  }
}

.subscribe__input {
  min-width: 290px;
  max-width: 450px;
  height: 50px;
  margin-bottom: 20px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--btn-txt-cl);
  letter-spacing: 0.03em;
  -webkit-transition: border-color var(--transition-time);
  transition: border-color var(--transition-time);
}
@media screen and (min-width: 768px) {
  .subscribe__input {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    margin-right: 15px;
    margin-bottom: 0px;
    width: 358px;
  }
}
.subscribe__input:focus, .subscribe__input:hover {
  outline: none;
  border-color: var(--main-link-cl);
}

.footer-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  -webkit-transition: background-color var(--transition-time);
  transition: background-color var(--transition-time);
}
.footer-btn:focus, .footer-btn:hover {
  background-color: var(--main-bt-bg-cl);
}
.footer-btn__icon {
  fill: currentColor;
  margin-left: 10px;
  margin-right: 28px;
}

.mobmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: var(--transition-time);
  transition: var(--transition-time);
  width: 100%;
  height: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  background-color: var(--btn-txt-cl);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.mobmenu.is-open {
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
@media screen and (min-width: 768px) {
  .mobmenu {
    display: none;
  }
}
.mobmenu__list:nth-child(2) {
  margin-bottom: auto;
}

.menu-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
  margin-left: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}
.mobmenu .menu-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobmenu__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
}

.mobmenu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobmenu__tel {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: var(--main-link-cl);
}

.mobmenu__mail {
  margin-bottom: 64px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: var(--main-txt-item);
}

.mobmenu__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--main-link-cl);
}

.mobmenu__social--item:not(:last-child) .mobmenu__social--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.menu-btn--close {
  -webkit-transition: fill var(--transition-time);
  transition: fill var(--transition-time);
}

.menu-btn--close:active {
  fill: var(--main-link-cl);
}

.header {
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .header__container {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.nav {
  margin-right: auto;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
@media screen and (max-width: 767px) {
  .nav__list {
    display: none;
  }
}
.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color var(--transition-time);
  transition: color var(--transition-time);
}
.nav__link--current {
  color: var(--main-link-cl);
}
@media screen and (min-width: 767px) {
  .nav__link--current {
    position: relative;
  }
}
.nav__link--current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--main-link-cl);
  border-radius: 2px;
}
.nav__link:hover, .nav__link:focus {
  color: var(--main-link-cl);
}

.hero__container {
  text-align: center;
  height: 400px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0;
  background-color: #c4c4c4;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 47, 58, 0.4)), to(rgba(47, 47, 58, 0.4))), url(../images/hero-bgn/hero-bgn@1x-480_mob.jpg);
  background-image: linear-gradient(to right, rgba(47, 47, 58, 0.4), rgba(47, 47, 58, 0.4)), url(../images/hero-bgn/hero-bgn@1x-480_mob.jpg);
}
@media screen and (min-width: 1200px) {
  .hero__container {
    height: 600px;
    padding: 200px 0;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__container {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 47, 58, 0.4)), to(rgba(47, 47, 58, 0.4))), url(../images/hero-bgn/hero-bgn@2x-960_mob.jpg);
    background-image: linear-gradient(to right, rgba(47, 47, 58, 0.4), rgba(47, 47, 58, 0.4)), url(../images/hero-bgn/hero-bgn@2x-960_mob.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero__container {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 47, 58, 0.4)), to(rgba(47, 47, 58, 0.4))), url(../images/hero-bgn/hero-bgn@1x-768_tab.jpg);
    background-image: linear-gradient(to right, rgba(47, 47, 58, 0.4), rgba(47, 47, 58, 0.4)), url(../images/hero-bgn/hero-bgn@1x-768_tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__container {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 47, 58, 0.4)), to(rgba(47, 47, 58, 0.4))), url(../../images/hero-bgn/hero-bgn@2x-1536_tab.jpg);
    background-image: linear-gradient(to right, rgba(47, 47, 58, 0.4), rgba(47, 47, 58, 0.4)), url(../../images/hero-bgn/hero-bgn@2x-1536_tab.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero__container {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 47, 58, 0.4)), to(rgba(47, 47, 58, 0.4))), url(../images/hero-bgn/hero-bgn@1x-1600_pc.jpg);
    background-image: linear-gradient(to right, rgba(47, 47, 58, 0.4), rgba(47, 47, 58, 0.4)), url(../images/hero-bgn/hero-bgn@1x-1600_pc.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__container {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 47, 58, 0.4)), to(rgba(47, 47, 58, 0.4))), url(../../images/hero-bgn/hero-bgn@2x-3200_pc.jpg);
    background-image: linear-gradient(to right, rgba(47, 47, 58, 0.4), rgba(47, 47, 58, 0.4)), url(../../images/hero-bgn/hero-bgn@2x-3200_pc.jpg);
  }
}

.hero__title {
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6923076923;
  color: var(--btn-txt-cl);
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.3636363636;
  }
}

.hero__btn {
  padding: 10px 32px;
  -webkit-transition: background-color var(--transition-time);
  transition: background-color var(--transition-time);
}

.hero__btn:hover,
.hero__btn:focus {
  background-color: var(--main-bt-bg-cl);
}

.features__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.features__item {
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .features__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
  }
}

.features__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  margin-bottom: 30px;
  height: 120px;
  background-color: #f5f4fa;
}

.features__title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}

.features__descr {
  line-height: 1.7142857143;
  color: var(--main-txt-item);
}

.work {
  display: none;
}
@media screen and (min-width: 1200px) {
  .work {
    padding-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.work__item {
  position: relative;
}

.work__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  font-weight: 700;
  width: 100%;
  height: 70px;
  line-height: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: var(--btn-txt-cl);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background: var(--team-bg-cl);
}
.team__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--indent);
  --items: 1;
}
@media screen and (min-width: 768px) {
  .team__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    --items: 2;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.team__item {
  -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
      flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  background: var(--white-bg-cl);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__wrapper {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
}
.team__descr {
  margin-bottom: 16px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  color: var(--main-txt-item);
}

.filters {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .filters {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .filters {
    row-gap: 15px;
  }
}
.filters__btn:active {
  background-color: var(--main-link-cl);
  color: var(--btn-txt-cl);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 1200px) {
  .filters__btn:hover, .filters__btn:focus {
    background-color: var(--main-link-cl);
    color: var(--btn-txt-cl);
    -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.filters__btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  background-color: var(--team-bg-cl);
  border: none;
  border-radius: 4px;
  -webkit-transition: background-color var(--transition-time), color var(--transition-time), -webkit-box-shadow var(--transition-time);
  transition: background-color var(--transition-time), color var(--transition-time), -webkit-box-shadow var(--transition-time);
  transition: background-color var(--transition-time), color var(--transition-time), box-shadow var(--transition-time);
  transition: background-color var(--transition-time), color var(--transition-time), box-shadow var(--transition-time), -webkit-box-shadow var(--transition-time);
}

.portfolio-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent);
  --items: 1;
}
@media screen and (min-width: 768px) {
  .portfolio-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    --items: 2;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    --items: 3;
  }
}
.portfolio-card__item {
  -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
      flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}
.portfolio-card__link {
  -webkit-transition: -webkit-box-shadow var(--transition-time);
  transition: -webkit-box-shadow var(--transition-time);
  transition: box-shadow var(--transition-time);
  transition: box-shadow var(--transition-time), -webkit-box-shadow var(--transition-time);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.portfolio-card__link:hover, .portfolio-card__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-card__thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform var(--transition-time);
  transition: -webkit-transform var(--transition-time);
  transition: transform var(--transition-time);
  transition: transform var(--transition-time), -webkit-transform var(--transition-time);
  background-color: rgba(33, 150, 243, 0.9);
}
.portfolio-card__link:hover .portfolio-card__overlay, .portfolio-card__link:focus .portfolio-card__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.portfolio-card__txt {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: var(--btn-txt-cl);
}
.portfolio-card__wrapper {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  border: 1px solid var(--border-cl);
  border-top: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.portfolio-card__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-card__descr {
  font-size: 16px;
  line-height: 1.875;
  color: var(--main-txt-item);
}

.customers__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.customers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 210px;
  height: 92px;
  color: var(--main-icon-cl);
  -webkit-transition: color var(--transition-time), border var(--transition-time);
  transition: color var(--transition-time), border var(--transition-time);
}
.customers__link:active {
  border: 1px solid var(--main-link-cl);
  color: var(--main-link-cl);
}
@media screen and (min-width: 1200px) {
  .customers__link {
    width: 170px;
  }
  .customers__link:hover, .customers__link:focus {
    border: 1px solid var(--main-link-cl);
    color: var(--main-link-cl);
  }
}

.customers__icon {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--dark-bg-cl);
}
.footer__title {
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--btn-txt-cl);
  margin-bottom: 20px;
}
.footer__socials {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__socials {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 165px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__socials {
    margin-left: 70px;
    margin-bottom: 0px;
  }
}

.footer__container {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer__address {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__address {
    margin-left: 76px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__address {
    margin-left: 0;
    text-align: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer__title {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__title {
    text-align: left;
  }
}

.address {
  font-style: normal;
}
.address--margin-top {
  margin-top: 20px;
}
.address__list {
  line-height: 1.7142857143;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .address__list {
    margin-bottom: 0px;
  }
}
.address__map {
  margin-bottom: 9px;
  color: #ffffff;
}
.address__item {
  color: rgba(255, 255, 255, 0.6);
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__link {
  -webkit-transition: color var(--transition-time);
  transition: color var(--transition-time);
}
.address__link:active {
  color: var(--main-link-cl);
}
@media screen and (min-width: 1200px) {
  .address__link:hover, .address__link:focus {
    color: var(--main-link-cl);
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity var(--transition-time);
  transition: opacity var(--transition-time);
  background-color: rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 479px) {
  .backdrop {
    overflow-y: scroll;
  }
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -35%) scale(1);
          transform: translate(-50%, -35%) scale(1);
  -webkit-transition: -webkit-transform var(--transition-time);
  transition: -webkit-transform var(--transition-time);
  transition: transform var(--transition-time);
  transition: transform var(--transition-time), -webkit-transform var(--transition-time);
  width: 100%;
  min-height: 609px;
  padding: 40px 40px;
  background-color: var(--btn-txt-cl);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .modal {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}
@media screen and (max-width: 1199px) {
  .modal {
    max-width: 450px;
    min-height: 581px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--btn-txt-cl);
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: fill var(--transition-time);
  transition: fill var(--transition-time);
}
.modal__btn-close:hover, .modal__btn-close:focus {
  fill: var(--main-link-cl);
}

.register-form {
  text-align: center;
}
.register-form__title {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}
@media screen and (min-width: 1200px) {
  .register-form__title {
    line-height: 1.15;
  }
}
.register-form__group {
  margin-bottom: 20px;
}
.register-form__wrap {
  position: relative;
  display: block;
  margin-bottom: 10px;
}
.register-form__wrap:last-child {
  margin-bottom: 0;
}
.register-form__label {
  display: block;
  text-align: left;
  margin-bottom: 4px;
  font-size: 12px;
  color: var(--main-txt-item);
}
.register-form__input {
  width: 100%;
  padding: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition: border-color var(--transition-time);
  transition: border-color var(--transition-time);
}
.register-form__input:hover, .register-form__input:focus {
  border-color: var(--main-link-cl);
}
.register-form__input--resize {
  resize: none;
  height: 120px;
  padding-left: 16px;
}
.register-form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  -webkit-transition: fill var(--transition-time);
  transition: fill var(--transition-time);
}
.register-form__input:focus + .register-form__icon, .register-form__input:hover + .register-form__icon {
  fill: var(--main-link-cl);
}

.agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}
.agreement--margin-bottom {
  margin-bottom: 30px;
}
.agreement__icon--check {
  opacity: 0;
  -webkit-transition: opacity var(--transition-time);
  transition: opacity var(--transition-time);
}
.agreement__checkbox:checked + .agreement__icon .agreement__icon--not-check {
  opacity: 0;
  -webkit-transition: opacity var(--transition-time);
  transition: opacity var(--transition-time);
}
.agreement__checkbox:checked + .agreement__icon .agreement__icon--check {
  opacity: 1;
}
.agreement__txt {
  font-size: 12px;
  line-height: 1.1666666667;
  color: var(--main-txt-item);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media screen and (min-width: 1200px) {
  .agreement__txt {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}
.agreement__link {
  color: var(--main-link-cl);
  text-underline-position: under;
}
.agreement__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 52px;
  -webkit-transition: background-color var(--transition-time);
  transition: background-color var(--transition-time);
}
.agreement__btn:hover, .agreement__btn:focus {
  background-color: var(--main-bt-bg-cl);
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    gap: 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--main-link-cl);
}
.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--main-txt-item);
  -webkit-transition: color var(--transition-time);
  transition: color var(--transition-time);
}/*# sourceMappingURL=main.css.map */