.contacts {
  display: flex;
  gap: 50px;
  &__icon {
    fill: currentColor;
    margin-right: 10px;
  }
  &__link:hover,
  &__link:focus {
    color: var(--main-link-cl);
  }
  &__link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    align-items: center;
    color: var(--main-txt-item);
    transition: color var(--transition-time);
  }
}
