.customers__list {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}


.customers__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 210px;
  height: 92px;
  color: var(--main-icon-cl);
  transition: color var(--transition-time), border var(--transition-time);

  &:active {
    border: 1px solid var(--main-link-cl);
    color: var(--main-link-cl);
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
    &:hover,
    &:focus {
      border: 1px solid var(--main-link-cl);
      color: var(--main-link-cl);
    }
  }
}

.customers__icon {
  fill: currentColor;
}
