.features__list {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 30px;

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.features__item {
  width: 450px;

  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.features__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 30px;

  height: 120px;
  background-color: #f5f4fa;
}

.features__title {
  margin-bottom: 10px;
text-align: center;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
      @media screen and (min-width: 768px) {
  text-align: left;
  }

}

.features__descr {
  line-height: calc(24 / 14);
  color: var(--main-txt-item);
}
