.filters {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  @media screen and (min-width: 768px) {
    justify-content: center;
  }

  &__btn:active {
    background-color: var(--main-link-cl);
    color: var(--btn-txt-cl);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  @media screen and (min-width: 1200px) {
    &__btn:hover,
    &__btn:focus {
      background-color: var(--main-link-cl);
      color: var(--btn-txt-cl);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
  &__btn {
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
    background-color: var(--team-bg-cl);
    border: none;
    border-radius: 4px;
    transition: background-color var(--transition-time), color var(--transition-time),
      box-shadow var(--transition-time);
  }
}
