// .footer {
//   padding-top: 60px;
//   padding-bottom: 60px;
//   background: var(--dark-bg-cl);

//   &__container {
//     display: flex;
//     align-items: baseline;
//   }
//   &-title {
//     font-size: 14px;
//     line-height: calc(16 / 14);
//     text-transform: uppercase;
//     color: var(--btn-txt-cl);
//   }

//   &-title--margin-bottom {
//     margin-bottom: 20px;
//   }
// }

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--dark-bg-cl);

  &__title {
    font-size: 14px;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    color: var(--btn-txt-cl);
    margin-bottom: 20px;
  }
  &__socials {
    margin-bottom: 60px;
    @media screen and (min-width: 768px) {
      display: inline-flex;
      flex-direction: column;
      margin-left: 165px;
      margin-bottom: 0;
      align-items: center;
    }

    @media screen and (min-width: 1200px) {
      margin-left: 70px;
      margin-bottom: 0px;
    }
  }
}

// .footer__socials {
//   margin-bottom: 60px;
//   @media screen and (min-width: 1200px) {
//     margin-left: 70px;
//     margin-bottom: 0px;
//   }
// }

// .footer__socials--margin-left {
//     margin-left: 70px;
// }

.footer__container {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.footer__address {
  text-align: center;
  @media screen and (min-width: 768px) {
    display: inline-flex;
    flex-direction: column;
    margin-left: 76px;
    align-items: center;
  }
}

.footer__title {
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
