.hero__container {
  text-align: center;

  height: 400px;
  max-width: 1600px;

    @media screen and (min-width: 1200px) {
  height: 600px;
    padding: 200px 0;

  }


  margin-left: auto;
  margin-right: auto;

  padding: 118px 0;

  background-color: #c4c4c4;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-image: linear-gradient(to right, rgba(47, 47, 58, 0.4), rgba(47, 47, 58, 0.4)),
    url(../images/hero-bgn/hero-bgn@1x-480_mob.jpg);
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 47, 58, 0.4), rgba(47, 47, 58, 0.4)), url(../images/hero-bgn/hero-bgn@2x-960_mob.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, rgba(47, 47, 58, 0.4), rgba(47, 47, 58, 0.4)),
      url(../images/hero-bgn/hero-bgn@1x-768_tab.jpg);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 47, 58, 0.4), rgba(47, 47, 58, 0.4)), url(../images/hero-bgn/hero-bgn@2x-1536_tab.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(to right, rgba(47, 47, 58, 0.4), rgba(47, 47, 58, 0.4)),
      url(../images/hero-bgn/hero-bgn@1x-1600_pc.jpg);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 47, 58, 0.4), rgba(47, 47, 58, 0.4)), url(../images/hero-bgn/hero-bgn@2x-3200_pc.jpg);
    }
  }
}

.hero__title {
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: calc(44 / 26);
  color: var(--btn-txt-cl);
  text-transform: uppercase;
  letter-spacing: 0.06em;

  @media screen and (min-width: 1200px) {
    max-width: 696px;
    font-size: 44px;
    line-height: calc(60 / 44);
  }
}

.hero__btn {
  padding: 10px 32px;
  transition: background-color var(--transition-time);
}

.hero__btn:hover,
.hero__btn:focus {
  background-color: var(--main-bt-bg-cl);
}
