.nav {
    margin-right: auto;
    &__list {
    display: flex;
    gap: 50px;
      @media screen and (max-width: 767px) {
    display: none;
  }

}

&__link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    align-items: center;
    transition: color var(--transition-time);
}

&__link--current {
    color: var(--main-link-cl);
    @media screen and (min-width: 767px) {
    position: relative;
  }

}

&__link--current::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';

    display: block;
    width: 100%;
    height: 4px;

    background-color: var(--main-link-cl);
    border-radius: 2px;
}

&__link:hover,
&__link:focus {
    color: var(--main-link-cl);
}
}

