.portfolio-card {
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
    --items: 1;

    @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    --items: 2;
    }
    @media screen and (min-width: 1200px) {
    flex-direction: row;
    flex-wrap: wrap;
          --items: 3;
    }



    &__item{
    flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));

    }
    &__link {
    transition: box-shadow var(--transition-time);

    display: block;
}

&__link:hover,
&__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

&__thumb {
    position: relative;
    overflow: hidden;
}

&__overlay {
    position: absolute;
    top: 0;
    left: 0;

    transform: translateY(100%);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    transition: transform var(--transition-time);
    background-color: rgba(33, 150, 243, 0.9);
}

&__link:hover .portfolio-card__overlay,
&__link:focus .portfolio-card__overlay {
    transform: translateY(0);
}

&__txt {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;

    padding: 63px 24px;

    color: var(--btn-txt-cl);
}

&__wrapper {
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
    border: 1px solid var(--border-cl);
    border-top: none;
}

&__title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
}

&__descr {
    font-size: 16px;
    line-height: calc(30 / 16);
    color: var(--main-txt-item);
}
}

