.register-form {
    text-align: center;
    &__title {
    display: block;
    margin-bottom: 12px;

    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-txt-cl);
}

&__group {
    margin-bottom: 20px;
}

&__wrap {
    position: relative;
    display: block;
    margin-bottom: 10px;
}

&__wrap:last-child {
    margin-bottom: 0;
}

&__label {
    display: block;
    text-align: left;
    margin-bottom: 4px;

    font-size: 12px;
    color: var(--main-txt-item);
}

&__input {
    width: 100%;
    padding: 12px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    transition: border-color var(--transition-time);
}

&__input:hover,
&__input:focus {
    border-color: var(--main-link-cl);
}


&__input--resize {
    resize: none;
    height: 120px;
    padding-left: 16px;
}

&__icon {
    position: absolute;
    bottom: 11px;
    left: 12px;
    transition: fill var(--transition-time);
}
&__input:focus+.register-form__icon,
&__input:hover+.register-form__icon {
    fill: var(--main-link-cl);
}
}


