.team {
  background: var(--team-bg-cl);
  &__list {
    display: inline-flex;
    flex-direction: column;
    gap: var(--indent);
    --items: 1;

    @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    --items: 2;
    }
    @media screen and (min-width: 1200px) {
      flex-direction: row;
      flex-wrap: nowrap;
    }

    //   @media screen and (min-width: 768px) {
    //     --items: 2;
    //   }

    //   @media screen and (min-width: 1200px) {
    //     --items: 4;
    //   }
  }

  &__item {
    flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));

    background: var(--white-bg-cl);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  
  &__wrapper {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
  }

  &__descr {
    margin-bottom: 16px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    color: var(--main-txt-item);
  }
}
