.work {
  display: none;

  @media screen and (min-width: 1200px) {
    padding-top: 0px;
    display: flex;
  }
}

.work__list {
  display: flex;
  gap: 30px;
}

.work__item {
  position: relative;
}

.work__descr {
  display: flex;
  position: absolute;
  bottom: 0;

  font-weight: 700;
  width: 100%;
  height: 70px;
  line-height: 16px;

  justify-content: center;
  align-items: center;
  text-transform: uppercase;

  color: var(--btn-txt-cl);
  background-color: rgba(47, 48, 58, 0.8);
}
