.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  &--accent-color {
    color: var(--main-link-cl);
  }

  &--black-color {
    color: var(--second-header-logo-cl);
  }

  &--white-color {
    color: var(--btn-txt-cl);
  }

  &--margin-right {
    margin-right: 93px;
  }
}
