.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--main-icon-cl);
    transition: background-color var(--transition-time), color var(--transition-time);
  }

  &__icon {
    fill: currentColor;
  }

  &__link:hover,
  &__link:focus {
    background-color: var(--main-link-cl);
    color: var(--btn-txt-cl);
  }

  &__link:hover .socials__icon,
  &__link:focus .socials__icon {
    fill: var(--white-bg-cl);
  }
  &__link--white-color {
    color: var(--btn-txt-cl);
  }

  &__link--bg-color {
    background-color: #44454e;
  }
}
