:root {
    /* fonts */
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    /* txt colors */
    --main-txt-cl: #212121;
    --main-txt-item: #757575;
    --main-link-cl: #2196f3;
    --btn-txt-cl: #ffffff;
    --second-header-logo-cl: #000000;

    /* bg colors */
    --dark-bg-cl: #2f303a;
    --team-bg-cl: #f5f4fa;
    --main-bt-bg-cl: #188ce8;
    --white-bg-cl: #ffffff;

    /* others */
    --border-cl: #eeeeee;
    --main-icon-cl: #afb1b8;
    --transition-time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}